</head>
<body>
  <nav>
    <a id="fa-plane" href="/" <%- title === 'Mongoose Flights' ? 'class="active"' : '' %>
      >
      <i class="fas fa-plane-departure fa-2x"></i>
    </a>
    <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
    ALL FLIGHTS
    </a>
    <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
    ADD FLIGHT</a>
  </nav>