<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table>
    <thead>
      <tr>
        <th>
          <h2>Airlines</h2>
        </th>
        <th>
          <h2>Airports</h2>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>American Airlines</p>
          <p>Southwest Airlines</p>
          <p>United Airlines</p>
        </td>
        <td>
          <p>AUS</p>
          <p>DFW</p>
          <p>DEN</p>
          <p>LAX</p>
          <p>SAN</p>
        </td>
      </tr>
    </tbody>
  </table>
</main>

<%- include('./partials/footer') %>